@charset "UTF-8";

* {
	margin: 0;
	padding:0;
}

.wrap {
	width: 1200;
	margin: 0 auto;
	background-color: #1C1C1C;
}

header {
	height: 300px;
}

div img {
	display:block;
	margin: auto;
}

ul li {
	list-style: non;
	float: left;
}

ul {
	text-align: center;
	margin:0;
	padding:0;
}

footer {
	height: 50px;
	background-color: blueviolet;
}